<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>Pre-Test, K-Means Clustering | Learn Data Science</title>
</head>
<body>
    <!-- simple navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Learn Data Science</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/lessons">Lessons</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Logout">Logout</a>
                </li>

            </ul>
          </div>
        </div>
    </nav>

    <div style = "height:50px">&nbsp;</div>
    
    <!-- main content -->
    <div class="container">
        <center>
            <img src = "/img/cluster_img1.png" width = "65%">
        </center>

        <h1>Preassessment</h1>
        <h3>K-Means Clustering</h3>
        <p>Before we begin with the lessons, we would first like to gauge your existing knowledge on the <mark>K-Means Clustering</mark>. Note that we are only recording your score for later reference. Don't be anxious about not knowing some (or many) of the answers to the following questions. As we proceed with the lessons, you'll come to learn even more about the algorithm, and how it's used.</p>
        <p>Score: <mark>Pending Completion</mark></p>
    </div>

    <div class="container">
        <form>
            <div style = "height:25px">&nbsp;</div>

            <!-- Question 1 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>1. &nbsp; This is another name for cluster analysis</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item1" id="item1A">
                        <label class="form-check-label" for="item1A">
                        Data Segmentation
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item1" id="item1B">
                        <label class="form-check-label" for="item1B">
                        Data Analysis
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item1" id="item1C">
                        <label class="form-check-label" for="item1C">
                        Regression Analysis
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item1" id="item1D">
                        <label class="form-check-label" for="item1D">
                        Data Reduction
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 2 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>2. &nbsp; Which of the following describes the goal of cluster analysis?</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item2" id="item2A">
                        <label class="form-check-label" for="item2A">
                            Measure the relationship between an independent variable and a dependent variable
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item2" id="item2B">
                        <label class="form-check-label" for="item2B">
                            Classify data points to separate groups based on data
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item2" id="item2C">
                        <label class="form-check-label" for="item2C">
                            Predict the future behavior of customers subscribing to a service
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item2" id="item2D">
                        <label class="form-check-label" for="item2D">
                            None of the above
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 3 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>3. &nbsp; The K in the name K-Means Algorithm refers to which feature of the algorithm</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item3" id="item3A">
                        <label class="form-check-label" for="item3A">
                            The number of steps needed to find the correct solution
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item3" id="item3B">
                        <label class="form-check-label" for="item3B">
                            The number of datapoints required to use the algorithm
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item3" id="item3C">
                        <label class="form-check-label" for="item3C">
                            The number of coordinates allowed in the cartesian plane
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item3" id="item3D">
                        <label class="form-check-label" for="item3D">
                            The number of groups into which the data is being classified
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 4 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>4. &nbsp; How many steps does it usually take for the K-Means algorithm to complete?</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item4" id="item4A">
                        <label class="form-check-label" for="item4A">
                        Just one
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item4" id="item4B">
                        <label class="form-check-label" for="item4B">
                        Between two and three
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item4" id="item4C">
                        <label class="form-check-label" for="item4C">
                        Theoretically infinite
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item4" id="item4D">
                        <label class="form-check-label" for="item4D">
                        At most ten
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 5 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>5. &nbsp; True or False: It is possible to start the K-Means algorithm with different starting locations for the group centers.</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item5" id="item5A">
                        <label class="form-check-label" for="item5A">
                        True
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item5" id="item5B">
                        <label class="form-check-label" for="item5B">
                        False
                        </label>
                    </div>
                </div>
                </div>
            </div>
            
            <div style = "height:25px">&nbsp;</div>

            <!-- Question 6 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>6. &nbsp; True or False: the K-Means algorithm can only cluster data into two groups.</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item6" id="item6A">
                        <label class="form-check-label" for="item6A">
                            True
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item6" id="item6B">
                        <label class="form-check-label" for="item6B">
                        False
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 7 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>7. &nbsp; A point is assigned to a certain group when it is</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item7" id="item7A">
                        <label class="form-check-label" for="item7A">
                            Closer to that group’s center based on the distance formula
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item7" id="item7B">
                        <label class="form-check-label" for="item7B">
                            Farther to that group’s center based on the distance formula
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item7" id="item7C">
                        <label class="form-check-label" for="item7C">
                            Closer to the rest of the group’s members
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item7" id="item7D">
                        <label class="form-check-label" for="item7D">
                            Father from that group’s members
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 8 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>8. &nbsp; The first step of the K-Means Algorithm is also known as the</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item8" id="item8A">
                        <label class="form-check-label" for="item8A">
                            Initialization
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item8" id="item8B">
                        <label class="form-check-label" for="item8B">
                            Update Step
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item8" id="item8C">
                        <label class="form-check-label" for="item8C">
                            Convergence
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item8" id="item8D">
                        <label class="form-check-label" for="item8D">
                            None of the Above
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 9 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>9. &nbsp; At the first step of the algorithm, since we don’t know yet where the groups should be located, we</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item9" id="item9A">
                        <label class="form-check-label" for="item9A">
                            Locate the centers manually through plot inspection
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item9" id="item9B">
                        <label class="form-check-label" for="item9B">
                            Make a random guess of the locations and update it later
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item9" id="item9C">
                        <label class="form-check-label" for="item9C">
                            Use a different algorithm to find the center, before using the K-Means algorithm
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item9" id="item9D">
                        <label class="form-check-label" for="item9D">
                            None of the Above
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 10 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>10. &nbsp; What happens to the membership assignment of the points after their centers are relocated in step two</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item10" id="item10A">
                        <label class="form-check-label" for="item10A">
                            Membership assignments don’t really change until the end of the algorithm
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item10" id="item10B">
                        <label class="form-check-label" for="item10B">
                            Membership assignments don’t really change, only the centers of the groups
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item10" id="item10C">
                        <label class="form-check-label" for="item10C">
                            Membership assignments change randomly with no rule
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item10" id="item10D">
                        <label class="form-check-label" for="item10D">
                            Membership assignments change based on the nearest updated center
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 11 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>11. &nbsp; How would the center points change when we keep K-Means algorithm running infinitely without stopping</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item11" id="item11A">
                        <label class="form-check-label" for="item11A">
                            They will always keep moving, covering different locations on the plot
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item11" id="item11B">
                        <label class="form-check-label" for="item11B">
                            They will end up overlapping each other on a single point
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item11" id="item11C">
                        <label class="form-check-label" for="item11C">
                            They will eventually get larger and larger
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item11" id="item11D">
                        <label class="form-check-label" for="item11D">
                            They will eventually stop moving
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 12 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>12. &nbsp; How is the distance formula used in the K-Means algorithm?</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item12" id="item12A">
                        <label class="form-check-label" for="item12A">
                            Finding the distance between one group member to the next
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item12" id="item12B">
                        <label class="form-check-label" for="item12B">
                            Finding the distance between two centers
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item12" id="item12C">
                        <label class="form-check-label" for="item12C">
                            Finding the distance between a data point and the center of a group
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item12" id="item12D">
                        <label class="form-check-label" for="item12D">
                            Finding the center of a group
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 13 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>13. &nbsp; The starting location of the centers</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item13" id="item13A">
                        <label class="form-check-label" for="item13A">
                            Have nothing to do with the rest of the algorithm
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item13" id="item13B">
                        <label class="form-check-label" for="item13B">
                            May have an impact on the number of groups formed
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item13" id="item13C">
                        <label class="form-check-label" for="item13C">
                            May change the final locations of the groups at the end
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item13" id="item13D">
                        <label class="form-check-label" for="item13D">
                            Is always at the same place on each run
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 14 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>14. &nbsp; The second step of the K-Means algorithm involves finding better locations of the center by</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item14" id="item14A">
                        <label class="form-check-label" for="item14A">
                            Getting the lowest coordinate of a member points
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item14" id="item14B">
                        <label class="form-check-label" for="item14B">
                            Guessing a random value anywhere in the plot
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item14" id="item14C">
                        <label class="form-check-label" for="item14C">
                            Getting the average of the coordinates of the member points
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item14" id="item14D">
                        <label class="form-check-label" for="item14D">
                            Negating the coordinates of the member points of the other group
                        </label>
                    </div>
                </div>
                </div>
            </div>

            <div style = "height:25px">&nbsp;</div>

            <!-- Question 15 -->
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn">
                        <b>15. &nbsp; What kind of mean is used in the K-Means algorithm?</b>
                    </button>
                </h5>
                </div>
            
                <div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item15" id="item15A">
                        <label class="form-check-label" for="item15A">
                            Arithmetic
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item15" id="item15B">
                        <label class="form-check-label" for="item15B">
                            Harmonic
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item15" id="item15C">
                        <label class="form-check-label" for="item15C">
                            Geometric
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="item15" id="item15D">
                        <label class="form-check-label" for="item15D">
                            None, the mean is only part of the name
                        </label>
                    </div>
                </div>
                </div>
            </div>
            
            <div style = "height:25px">&nbsp;</div>

            <button type="submit" class="btn btn-primary">Submit Answers</button>

        </form>
    </div>

    <div style = "height:50px">&nbsp;</div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2021 Dominic Dayta, All Rights Reserved</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/lessons" class="nav-link px-2 text-muted">Lessons</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link px-2 text-muted">Logout</a></li>
          </ul>
        </footer>
    </div>

</body>
</html>